# venv
.venv/
.env

# idea
.idea/

# all cash
__pycache__/
.pyc


**/_test.py
_test_*
_t_*

*.csv
/tuning/*.png

/*.py
!/main.py

/cpp/build/
/.vscode/
/cpp/pybind11/
/cpp/cmake-build-debug/
/tuning/
