# env folders
.venv/
.env
.idea/
/.vscode/


# cash
__pycache__/
.pyc

!/main.py
/*.py

# tests
**/_test.py
_test_*
_t_*
*.csv

# tuning
/tunung/
/tuning/*

# data collection
/measurements/


# c specific module
/cpp/build/
/cpp/pybind11/
/cpp/cmake-build-debug/

# ruff specific
/ruff.toml
